.-description-section {
    background-color: #607EA6;
}

.description {
    font-weight: 300;
    font-size: 25px;
    line-height: 39px;
    color: white;
    display: flex;
    padding: 0px 50px;
    margin-top: 100px;
    font-family: 'Fira Code';
}

.button-arrow {  
    padding: 10px 20px;
    background-color: #F25A70;
    display: flex;
    transform: translateY(43px);
}   

.about-me {
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: relative;
}

.about-me::after {
    content: '';
    alling-items: center;
    box-sizing: border-box;
    height: 0px;
    width: 85%;
    border: 3px solid black;
    position: absolute;
    top: 61px;
}

.about-me::before {
    content: '';
    alling-items: center;
    box-sizing: border-box;
    height: 0px;
    width: 100%;
    border: 2.9px dashed black;
    position: absolute;
    top: 61px;
}

.about-me-items {
    overflow: hidden;
}

.about-me-scroll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: transform 0.5s ease;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about-card::before {
    content: '';
    box-sizing: border-box;
    height: 40px;
    width: 0.5px;
    border: 3px dashed black;
    position: absolute;
    bottom: 63.5%;
    left: 50%;
}

.about-card .title {
    font-family: 'Press Start 2P';
    font-size: 25px;
    margin-bottom: 60px;
    color: white;
}

.about-card .icon {
    border: black 5px solid;
    background-color: white;
    height: 150px;
    position: relative;
}

.fho-card .icon {
    box-sizing: border-box;
    padding: 20px;
}
