.-description-section {
    background-color: #F25A70;
}

.description {
    font-weight: 300;
    font-size: 25px;
    line-height: 39px;
    color: white;
    display: flex;
    padding: 0px 50px;
    font-family: 'Fira Code';
}