body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

header {
    background-color: #204473;
    padding: 20px;
    padding-top: 20px;
    border-bottom: 10px solid black;
    display: flex;
    justify-content: space-between;
 }

.header-h1 {
    color: #D0ECF2;
    text-shadow: 5px 3px 0px black; 
    font-family: 'Press Start 2P';
    font-style: normal;
   
}

 nav {
    text-align: right;
    text-shadow: 5px 3px 0px black;
}

a {
    color: #D0ECF2;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-right: 30px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
   
}

a::before {
    content: "";
    background-color: #607EA6;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background: #F25A70;
    box-shadow: 5px 5px 0px #000000;
    padding: 18px 20px;
    margin-right: 0px;
    text-shadow: none;
    transition: transition 100ms linear;
}

#button:hover {
    transform: scale(1.08)
}