.main-section {
    box-sizing: border-box;
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid black;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-title {
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 5px 3px 0px black;
    font-weight: 400;
    font-size: 35px;
    display: flex;
    
}

.main-skills {
    display: flex;
    flex-direction: row;
}

.skills-1, 
.skills-2 {
    display: flex;
    flex-direction: column;
}