.main-section {
    box-sizing: border-box;
    background-color: #607EA6;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid black;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-title {
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 5px 3px 0px black;
    font-weight: 400;
    font-size: 35px;
    display: flex;
    align-self: center;
    margin-bottom: 70px;
    
}

.main-skills {
    display: flex;
    flex-direction: row;
}

.main-skills .skills {
    display: flex;
    flex-direction: column;
}

.skills .skill {
    display: flex;
    align-items: center;
    margin: 30px 120px;
}

.skill .icon {
    margin-right: 20px;
} 

.right .title {
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
}

.right .bar {
    height: 30px;
    width: 300px;
    border: 5px solid black;
    background-color: #FFFFFF;
}

.bar::-moz-progress-bar,
.bar::-webkit-progress-bar {
    background-color: #F25A70;
}