.title-box {
    display: inline-block;
    background-color:#024050;
    box-shadow: 10px 10px 0 black;
    padding: 35px 45px;
    margin-top: 115px;
    margin-left: 90px;
}
 
.title-h1 {
    color: #F25A70;
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 40px;
    text-shadow: 5px 3px 0px black;
}

.title-h2 {
    color: white;
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 30px;
    text-shadow: 5px 3px 0px black;
}